# Ignore Android Studio specific files
.idea/
.gradle/
local.properties
*.iml

# Ignore build output directories
/build/
/app/build/

# Ignore Gradle Wrapper files
/gradle/
gradle-wrapper.jar
gradle-wrapper.properties

# Ignore Java class files
*.class

# Ignore log files
*.log

# Ignore APKs
*.apk
*.ap_

# Ignore IntelliJ IDEA files
*.iws
*.ipr
*.idea/

# Ignore macOS specific files
.DS_Store

# Ignore environment variable files
*.env

# Ignore other OS-specific files
Thumbs.db
desktop.ini
